:root {
  --nintendo-red: #e60012;
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f4;
  --text-main: #333333;
  --text-muted: #757575;
  --border-color: #e5e4e7;
  --shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--bg-secondary);
  color: var(--text-main);
}

/* Reset Semântico BEM / Responsivo */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Proíbe a rolagem horizontal exigida no critério! */
}

/* O Contentor Raiz do React */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Fluido para caber em qualquer ecrã */
  max-width: 1280px; /* Largura máxima bonita para computadores */
  margin: 0 auto;
  background-color: var(--bg-primary);
}

/* Tipografia Base */
h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Microanimações obrigatórias para Botões e Links */
button,
a {
  cursor: pointer;
  transition: all 0.2s ease-in-out; /* Suaviza o efeito do mouse */
}

button:hover,
a:hover {
  opacity: 0.8;
  transform: translateY(-1px); /* Pequeno efeito de flutuar ao passar o rato */
}
